<cst-slider imgarry='["7.jpg","9.jpg","11.jpg","12.jpg"]'></cst-slider>
<!-- <div layout-gt-xs="row" layout-xs="column" layout-align="center center" style="text-align:center;min-height:210px;">
 	<div flex-gt-xs="40" flex-xs="100" layout="column" layout-align="center end" >
	 	<div> <h3>Photography enthusiasts</h3>
		 Share your best photos and get exposure.
	 	</div>
 	</div>
 	<div flex-gt-xs="50" flex-xs="100" flex-offset-gt-xs="10" layout="column" layout-align="center start">
	 	<div>
			 <h3>Stock photo buyers</h3>
		Find the perfect royalty-free photos on 500px Marketplace.
	 	</div>
	</div>
</div>-->

<div layout-gt-xs="row" layout-xs="column" layout-align="center center" style="text-align:center;min-height:210px;width:80%;margin:auto;margin-top:30px;margin-bottom:30px;font-size: 16px;">
 	<div flex-gt-xs="44" flex-xs="100" layout="column" style="width:100%" >
	 	<img src="images/frontPage/neon-operacom-bubbles.png" style="max-width: 100%;height:auto">
 	</div>
 	<div flex-gt-xs="44" flex-xs="100" flex-offset-gt-xs="5" layout="column" style="width:100%">
	 	<div>
			<h3>Feast your eyes</h3>
			<p style="text-align:justify;">The Opera browser features you love have been rebooted, with a fun, fresh take on Speed Dial, visual tabs and the omnibox, which float in to kickstart
				 your browsing session. Opera Neon wipes away your desktop clutter by bringing your computer’s wallpaper into the browser. Or, if you want to go full-Neon,
				  we’ve collaborated with graphic artist Luke Choice to create two&nbsp;
			</p>
	 	</div>
	</div>
</div>
<div layout-gt-xs="row" layout-xs="column" layout-align="center center" style="text-align:center;min-height:210px;width:80%;margin:auto;margin-top:30px;margin-bottom:30px;font-size: 16px;">
 	<div flex-gt-xs="44" flex-xs="100" layout="column" style="width:100%" >
		<div>
			<h3>Feast your eyes</h3>
			<p style="text-align:justify;">The Opera browser features you love have been rebooted, with a fun, fresh take on Speed Dial, visual tabs and the omnibox, which float in to kickstart
				 your browsing session. Opera Neon wipes away your desktop clutter by bringing your computer’s wallpaper into the browser. Or, if you want to go full-Neon,
				  we’ve collaborated with graphic artist Luke Choice to create two&nbsp;
			</p>
	 	</div>
 	</div>
 	<div flex-gt-xs="44" flex-xs="100" flex-offset-gt-xs="5" layout="column" style="width:100%">
		 <img src="images/frontPage/neon-operacom-page.png" style="max-width: 100%;height:auto">
	</div>
</div>



<img-grid></img-grid>