<!--<div style="height: 305px">-->
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="width:100%;max-height:500px;">
        <div class="carousel-caption">
         <!-- <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
          -->
          <h4>{{slide.text}}</h4>
        </div>
      </div>
    </div>
<!--</div>-->
 